.spinner {
	border: 8px solid #f3f3f3;
	border-top: 8px solid #dfcf77;
	border-radius: 50%;
	width: 80px;
	height: 80px;
	animation: spin 2s linear infinite;
}

.spinner-wrapper{
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.spinner-wrapper__full{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}